body {
  .cards {
    gap: 20px;
    display: flex;
    justify-content: center;

    @media screen and (max-width:800px) {
        flex-direction: column !important;
        align-items: center !important;
    }

  }

  background-color: white
}
