.card {
&__button {
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    border-radius: 25px;
    background-color: white;
    color: #0718ad; // Cor do texto inicial
    font-weight: 600;
    cursor: pointer;

    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), box-shadow 0.2s ease, background-color 0.2s;
}

&__item {
    padding: 10px;
  }

   &__button:hover {
    transform: scale(1.05); // Aumenta levemente
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    background-color: #fff0f0; // Um branco levemente rosado
  }

  &__button:active {
    transform: scale(0.95); // Efeito de "clique" (encolhe)
  }
}
